* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/**set root element properties*/
html {
	/*10px as root element(rem) size*/
	font-size: 62.5%; 
	font-family: Helvetica, Arial, sans-serif;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}
#form {
	margin: auto;
	width: 25%;
	border: 2px solid lightslategray;
	border-radius: 5px;
	margin: 14px auto;
	background-color: whitesmoke;
}
#form h1 {
	text-align: center; 
	font-size: 2.5em;
	padding: 12px;
}
#form .input-control {
	display: flex;
	flex-direction: column;
	padding: 14px 20px;
}
#form .input-control label {
	padding: 4px 0;
}
#form .input-control label,
#form .input-control input,
#form .input-control button {
	font-size: 1.7rem;
}
#form .input-control input {
	padding: 8px;
	border-radius: 5px
	border: 1px solid #ccc;
}
#form .input-control input:focus {
	outline: none;
}
#form .input-control button {
	background-color: dodgerblue;
	border: 0;
	color: #fff;
	cursor: pointer;
	padding: 8px;
	border-radius: 5px;
}
#form p {
	padding: 10px 20px;
	font-size: 1.4rem;
}
#form p a {
	color: #77f;
	text-decoration: none;
}
#form p a:hover {
	text-decoration: underline;
}

/*media queries*/
@media only screen and (max-width: 768px) {
	#form {
		width: 88%;
		margin: auto;
	}
}